@media screen and (min-width: 320px) {
  /* Fereastra modală actualizată...*/
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: auto;
    height: auto;
    flex-shrink: 0;
  }

  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    cursor: pointer;
  }

  #close-modal {
    text-align: right;
  }

  #film-img {
    width: 240px;
    height: 357px;
    flex-shrink: 0;
    border-radius: 5px;
    background: lightgray 50% / cover no-repeat;
    margin: 0 auto;
  }

  /* Cardul filmului */
  .card {
    flex-direction: column;
  }

  /* Posterul filmului */
  .poster {
    order: 1;
    margin-bottom: 10px;
  }

  /* Detaliile filmului */
  .details {
    order: 2;
  }

  /* Stilizare pentru butoane */

  /* Spațiu între elementele înrămate */
  .item {
    margin-top: 10px;
    color: #8c8c8c;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }

  .about {
    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 20px;
  }

  #about {
    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    flex-shrink: 0;
    margin-top: 8px;
    text-align: justify;
  }

  #btnWatched {
    display: flex;
    padding: 10px 14px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 100px;
    border: 1px solid #000;
    background: #fff;
    color: #b92f2c;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

  #buttonWrapper {
    display: flex;
    margin-top: 30px;
  }

  #btnQueue {
    display: flex;
    padding: 10px 14px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 100px;
    border: 1px solid #000;
    background: #fff;
    color: #b92f2c;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

  #btnWatched,
  #btnQueue {
    padding: 10px 12px;
    margin-top: 20px;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 500;

    &:hover,
    &:focus {
      transition: background-color 0.3s, color 0.3s;
      background: #b92f2c;
      color: #fff;
      box-shadow: 0px 0px 7px 0px rgba(27, 27, 27, 0.15);
    }
  }
}

@media screen and (min-width: 768px) {
  #film-img {
    width: 264px;
    height: 373.551px;
    flex-shrink: 0;
    border-radius: 5px;
    background: lightgray 50% / cover no-repeat;
    margin-top: 0px;
    margin-left: 36px;
  }

  #content {
    display: flex;
  }

  #right-content {
    margin-left: 68px;
  }

  /* Cardul filmului */
  .card {
    flex-direction: column;
  }

  /* Posterul filmului */
  .poster {
    order: 1;
    margin-bottom: 10px;
  }

  /* Detaliile filmului */
  .details {
    order: 2;
  }

  /* Stilizare pentru butoane */

  /* Spațiu între elementele înrămate */
  .item {
    color: #8c8c8c;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }

  .about {
    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 20px;
  }

  #about {
    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  #btnWatched {
    display: flex;
    padding: 12px 18px;
    align-items: flex-start;
    gap: 10px;
    color: #b92f2c;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 8px;
  }

  #buttonWrapper {
    display: flex;
    margin-top: 30px;
    min-width: 400px;
  }

  #btnQueue {
    display: flex;
    padding: 12px 18px;
    align-items: flex-start;
    gap: 10px;
    color: #b92f2c;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 8px;
  }
}

@media screen and (min-width: 1280px) {
  #film-img {
    width: 375px;
    height: 478px;
    flex-shrink: 0;
    border-radius: 5px;
    background: lightgray 50% / cover no-repeat;
    margin-left: 36px;
  }

  #content {
    display: flex;
  }

  #right-content {
    margin-left: 68px;
  }

  /* Cardul filmului */
  .card {
    flex-direction: column;
  }

  /* Posterul filmului */
  .poster {
    order: 1;
    margin-bottom: 10px;
  }

  /* Detaliile filmului */
  .details {
    order: 2;
  }

  /* Spațiu între elementele înrămate */

  .item {
    margin-top: 10px;
    color: #8c8c8c;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }

  .about {
    width: 100%;
    flex-shrink: 0;
  }

  #about {
    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  #btnWatched {
    display: flex;
    padding: 14px 24px;
    align-items: flex-start;
    gap: 10px;
  }

  #buttonWrapper {
    display: flex;
    margin-top: 30px;
  }

  #btnQueue {
    display: flex;
    padding: 14px 24px;
    align-items: flex-start;
    gap: 10px;
    margin-left: 8px;
  }
}
