$accent-color: #eb5934;
$main-bg-color: #3e3e3e;
$secondary-bg-color: #2b2b2b;
$tertiary-bg-color: #373737;
$main-font-color: #d8d6d4;
$main-border-color: #000;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
title {
  display: none;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: $main-font-color;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
}

.header {
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.31);
  outline: 1px solid #0e0e0e;
  top: 0;
  z-index: 2;
}
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 185px;
  width: 70%;

  &__input {
    font-family: 'Ubuntu';
    font-size: 16px;
    background: $main-font-color;
    border: none;
    border-radius: 20px;
    padding: 20px 49px 20px 22px;
    height: 20px;
    display: block;
    color: $main-bg-color;
    max-width: 300px;
    width: 100%;
    transition: outline 0.55s;
    outline: 1px solid #212121;

    &:focus {
      transition: outline 0.55s;
      outline: $accent-color solid 1px;
    }

    &:hover {
      transition: outline 0.55s;
      outline: $accent-color solid 1px;
    }
  }

  &__button {
    width: 31px;
    height: 31px;
    min-width: 31px;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: outline 0.55s, background-color 0.55s;
    display: flex;
    position: relative;
    right: 36px;
    outline: none;

    &__icon {
      fill: #60676a;
      transition: fill 0.55s;
    }
    &:hover {
      transition: outline 0.55s, background-color 0.55s;
      background-color: $accent-color;
    }
    &:hover .search-form__icon {
      fill: $main-font-color;
      transition: fill 0.55s;
    }
    &:focus {
      transition: background-color 0.55s;
      background-color: $accent-color;
    }
    &:focus .search-form__icon {
      fill: $main-font-color;
      transition: fill 0.55s;
    }
    &:placeholder-shown + &__icon {
      cursor: auto;
    }
  }

  &__icon {
    fill: #60676a;
    transition: fill 0.55s;
  }
}

.gallery {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
  gap: 8px;
  justify-content: center;
  margin: 0 auto;

  &__genres {
    color: #b92f2c;
  }

  &__item {
    display: block;
    position: relative;
    width: 395px;
    height: 634px;
    overflow: hidden;
    transition: box-shadow 0.25s;
    &:hover {
      box-shadow: 0px 5px 6px -1px rgba(0, 0, 0, 0.6);
      -webkit-box-shadow: 0px 5px 6px -1px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0px 5px 6px -1px rgba(0, 0, 0, 0.6);
    }
  }

  &__figure {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
  }

  &__figure:hover &__img {
    filter: grayscale(100%);
    opacity: 0.8;
  }

  &__img {
    width: 100%;
    height: 574px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: filter 0.25s, opacity 0.25s;
  }

  &__figcaption {
    width: 100%;
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
  }
  &__caption {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__rating {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: black;
    font-weight: bold;
    border: 2px solid #00000050;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination__button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #fff;
  transition: background-color 0.3s;
}

.pagination__button:hover {
  background-color: #f0f0f0;
}

.pagination__button.active {
  background-color: #ddd;
}

.pagination__ellipsis {
  margin: 0 5px;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
  z-index: 20;
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

.loader_ishidden {
  display: none;
}
