<section>
  <div id="info-modal" class="modal">
    <div id="modal" class="modal-content">
      <div id="close-modal" class="backdrop">
        <svg class="icon icon-close-1">
          <use href="/src/images/icons.svg#icon-close-1"></use>
        </svg>
      </div>
      <div id="movie-card" class="card">
        <div id="content" class="card-content">
          <div id="left-content" class="poster">
            <div id="film-img"></div>
          </div>
          <div id="right-content" class="details">
            <h2 id="film-title">Movie Title</h2>
            <div id="description" class="info">
              <div class="item">
                Votes
                <div id="votes"></div>
              </div>
              <div class="item">
                Popularity
                <div id="popularity"></div>
              </div>
              <div class="item">
                Original title
                <div id="origTitle"></div>
              </div>
              <div class="item">
                Genre
                <div id="genre"></div>
              </div>
            </div>
            <div class="about">
              <span>About</span>
              <div id="about">
                Four of the West’s most infamous outlaws assemble to steal a
                huge stash of gold from the most corrupt settlement of the gold
                rush towns. But not all goes to plan one is killed and the other
                three escapes with bags of gold hide out in the abandoned gold
                mine where they happen across another gang of three – who
                themselves were planning to hit the very same bank! As tensions
                rise, things go from bad to worse as they realise the bags of
                gold are filled with lead... they’ve been double crossed – but
                by who and how?
              </div>
            </div>

            <div class="buttons" id="buttonWrapper">
              <button
                type="button"
                class="watched-btn btn"
                id="btnWatched"
                data-value="add"
              >
                ADD TO WATCHED
              </button>

              <button
                type="button"
                class="queue-btn btn"
                id="btnQueue"
                data-value="add"
              >
                ADD TO QUEUE
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
