<div class="backdrop-modal team__backdrop--hidden">
    <div class="team__modal  background_image">
         <button class="team__modal--close close-modal-team outer">
            <div class="inner">
              <label>Back</label>
            </div>
         </button>
         <div class="waviy">
         </div>
         <h1 class="team__title waviy">   
          <span style="--i:1">G</span>
          <span style="--i:2">O</span>
          <span style="--i:3">I</span>
          <span style="--i:4">T</span>
          <br>
          <span style="--i:5">S</span>
          <span style="--i:6">T</span>
          <span style="--i:7">U</span>
          <span style="--i:8">D</span>
          <span style="--i:9">E</span>
          <span style="--i:10">N</span>
          <span style="--i:10">T</span>
          <span style="--i:10">S</span>
        </h1>
         <div class="team__box">

<!-- Paul -->
            <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src="/src/team/Paul.jpg"
                alt="Paul"/>
               </div>
              <div>
                <a class="team__link"
              href="https://github.com/paulbud61"
              target="_blank">
              <svg class="team__icon" width="25" height="25">
               <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
              </a>
              <a class="team__link"
              href="https://instagram.com/paul_bud61?igshid=MzMyNGUyNmU2YQ=="
              target="_blank">
              <svg class="team__icon" width="25" height="25">
               <use href="/src/images/icons.svg#icon-instagram"></use>
              </svg>
              </a>
              <a class="team__link"
              href="https://www.linkedin.com/in/paul-bud-1a5615282?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
              target="_blank">
              <svg class="team__icon" width="25" height="25">
               <use href="/src/images/icons.svg#icon-linkedin"></use>
              </svg>
              </a>
              </div>
              <p class="team__name">Bud Paul-George</p>
              <p class="team__role">Team Lead</p>
            </div>

<!-- Silviu -->
            <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src="/src/team/Silviu.jpg"
                alt="Silviu"/>
               </div>
              <div>
                <a class="team__link"
              href="https://github.com/sSilviuM"
              target="_blank">
              <svg class="team__icon" width="25" height="25">
               <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
              </a>
              <a class="team__link"
              href="https://www.linkedin.com/in/silviu-cristian-matei-710b6216a/"
              target="_blank">
              <svg class="team__icon" width="25" height="25">
               <use href="/src/images/icons.svg#icon-linkedin"></use>
              </svg>
              </a>
              </div>
              <p class="team__name">Matei Silviu Cristian</p>
              <p class="team__role">Scrum Master</p>
            </div>

<!-- Onisim -->
            <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src="/src/team/onisim.jpg"
                alt="Onisim"/>
               </div>
              <div>
                <a class="team__link"
              href="https://github.com/onisimsuldac"
              target="_blank">
              <svg class="team__icon" width="25" height="25">
               <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
              </a>
              <a class="team__link"
              href="https://www.instagram.com/suldaconisim/"
              target="_blank">
              <svg class="team__icon" width="25" height="25">
               <use href="/src/images/icons.svg#icon-instagram"></use>
              </svg>
              </a>
              <a class="team__link"
              href="https://www.facebook.com/profile.php?id=100008023837959&locale=ro_RO"
              target="_blank">
              <svg class="team__icon" width="25" height="25">
               <use href="/src/images/icons.svg#icon-facebook"></use>
              </svg>
              </a>
              </div>
              <p class="team__name">Suldac Onisim</p>
              <p class="team__role">Developer</p>
            </div>

<!-- vlad -->
            <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src="/src/team/Vlad.jpg"
                alt="Vlad"/>
               </div>
              <div>
                <a class="team__link"
              href="https://github.com/vladant92"
              target="_blank" >
              <svg class="team__icon" width="25" height="25">
               <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
              </a>
              <a class="team__link"
              href="https://www.linkedin.com/in/vlad-andrei-antonoae-01447119b/"
              target="_blank" >
              <svg class="team__icon" width="25" height="25">
               <use href="/src/images/icons.svg#icon-linkedin"></use>
              </svg>
              </a>
              </div>
              <p class="team__name"> Vlad Antonoae</p>
              <p class="team__role">Developer</p>
            </div>

<!-- Madalina  -->
            <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src="/src/team/Madalina.jpg"
                alt=""/>
               </div>
             <div>
              <a class="team__link"
              href="https://github.com/Madwtz"
              target="_blank">
              <svg class="team__icon" width="25" height="25">
               <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
              </a>
              <a class="team__link"
              href="https://www.linkedin.com/in/madalina-vlasie-27664b187?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
              target="_blank">
              <svg class="team__icon" width="25" height="25">
               <use href="/src/images/icons.svg#icon-linkedin"></use>
              </svg>
              </a>
             </div>
              <p class="team__name">Madalina Vlasie</p>
              <p class="team__role">Developer</p>
            </div>

<!--  -->
            <div class="team__member">
               <div class="team__card">
                <!-- <img class="team__photo" src="/src/images/team/Khymenko.jpg" -->
                alt=""/>
               </div>
           <div>
            <a class="team__link"
            href=""
            target="_blank" >
            <svg class="team__icon" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
           </div>
              <p class="team__name"></p>
              <p class="team__role">Developer</p>
            </div>
           
         </div>
  
  